@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

/*--------------
    RESET
--------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*--------------
    BODY
--------------*/
body {
    font-family: "Roboto", sans-serif;
    background-color: beige;
    line-height: 2;
}

/*--------------
    CONTAINER
--------------*/
.container {
    margin: 0 auto;
    max-width: 1200px;
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
    li {
        margin: 1em;
        padding: 1em;
        line-height: 2;
    }
}

.card {
    background-color: #fff;
    padding: 2em;
    margin: 2em 0;
    border-radius: 15px;
}
